<nav>
    <ul>
        <% naviData.forEach(li => { %>
            <li>
                <a href="<%= li.url %>"><%= li.name %>
                </a>
            </li>
        <% }) %>
    </ul>
</nav>

<!--    <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/faq">FAQ</a></li> -->
