* {
    margin: 0;
    padding: 0;
}

nav {
    height: 10vh;
    background: #000;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}
a {
    color: #fff;
    text-decoration: none;
}

/*
nav ul {
    display: flex;
    justify-content: space-evenly;
    background: #333333;
    color: #ffffff;
}
a {
    color: inherit;
}
*/
.my-gallery, .news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}
.my-gallery img, .news img{
    object-fit: cover;
    height: 30vh;
    width: 100%;
}

.my-gallery figcaption {
    text-align: right;
}

.news footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
